<h1>Articles Tagged with <%= @tag.name %></h1>

<p>Select an article to view:</p>
<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul><br />
<p>
  <%= link_to "Delete This Tag ", tag_path(@tag),
            method: :delete,
            data: {confirm: "Confirm: Delete this tag?"} %>
  (Removes tag from all associated articles)
</p>
