<h1>Articles Tagged with '<%= @tag.name %>'</h1>

<h3>Select an article to view:</h3>
<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<ul id="content">
  <li>
    <%= link_to "Delete This Tag ", tag_path(@tag),
        method: :delete, data: {confirm: "Confirm: Delete this tag?"} %>
    (Removes tag from all associated articles)
  </li>
</ul>
