$primary_color: #CCCCFF;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

td {
  padding-right: 5px;
  padding-top: 5px;
}

th {
  font-weight: bold;
  padding-right: 20px;
}

li {
  margin-bottom: 5px;
}

.first-row {
  border-bottom: 1px solid #000000;
}

.article-body {
  color: #000000;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.comment {
  color: #000000;
  background-color: #E6E6FF;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.sidenav {
  background-image: linear-gradient(rgb(66, 103, 141), rgb(34, 52, 71));
  color: #FFF;
  padding-top: 110px;
  padding-left: 20px;
  position: absolute;
  height: 100%;
  width: 100px;
}

.navlink {
   color: #FFF;
   font-size: 16px;
 }

.column-container {
  padding-right: 40px;
}

.column-thirty-percent {
  display: inline-block;
  width: 18%;
}

.column-seventy-percent {
  display: inline-block;
  width: 80%;
}

#wrapper {
  margin: 0px;
  position: relative;
  height: 100%;
  overflow: hidden;
  border: solid 1px #000000;
  border-radius: 6px;
}

#container {
  margin-left: 120px;
  background: #FFF;
  padding: 20px 40px;
  position: relative;
}

#content {
  clear: both;
  padding-top: 20px;
}

#user-account-failsafe {
  font-size: 11px;
  width: 140px;
  height: 35px;
  position: absolute;
  right: 35px;
  top: 35px;
  padding: 5px;
  background: #FFF;
  border: 2px solid #FF0000;
  border-radius: 5px;
  overflow: auto;
}
