$primary_color: #ccccff;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

td {
  padding-right: 5px;
  padding-top: 5px;
}

th {
  font-weight: bold;
  padding-right: 20px;
}

li {
  margin-bottom: 5px;
  // list-style: none;
}

.first-row {
  border-bottom: 1px solid #000000;
}

.article-body {
  color: #000000;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.comment {
  color: #000000;
  background-color: #e6e6ff;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.sidenav {
  background-image: linear-gradient(rgb(66, 103, 141), rgb(34, 52, 71));
  color: white;
  padding-top: 110px;
  padding-left: 20px;
  position: absolute;
  height: 100%;
  width: 100px;
}
 .navlink {
   color: white;
   font-size: 16px;
 }

#wrapper {
  margin: 0px;
  position: relative;
  height: 100%;
  overflow: hidden;
  border: solid 1px black;
  border-radius: 6px;
}

#container {
  margin-left: 120px;
  background: #fff;
  padding: 20px 40px;
  position: relative;
}

#content {
  clear: both;
  padding-top: 20px;
}
