$primary_color: #CCCCFF;

body {
  background-color: $primary_color;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 14px;
  }
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

td {
  padding-right: 5px;
  padding-top: 5px;
}

th {
  font-weight: bold;
  padding-right: 20px;
}

li {
  margin-bottom: 5px;
}

.first-row {
  border-bottom: 1px solid #000000;
}

.article-body {
  color: #000000;
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.comment {
  color: #000000;
  background-color: #E6E6FF;
  font: {
    family: Verdana, Helvetica, Arial;
    size: 16px;
  }
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.sidenav {
  background-image: linear-gradient(rgb(66, 103, 141), rgb(34, 52, 71));
  color: #FFF;
  padding-top: 110px;
  padding-left: 20px;
  position: absolute;
  height: 100%;
  width: 225px;
}

.nav-section {
  margin-bottom: 70px;
}

.nav-title {
  color: #FFF;
  font-size: 20px;
  text-shadow: 3px 3px 5px #000000;
}

.nav-link {
   color: #CCC;
   font-size: 16px;
 }

ul.horizontal-navbar {
  display: block;
  margin-bottom: 20px;
}

ul.horizontal-navbar li {
  display: inline;
  margin-left: 10px;
}

#wrapper {
  margin: 0px;
  position: relative;
  height: 100%;
  overflow: hidden;
  border: solid 1px #000000;
  border-radius: 6px;
}

#container {
  margin-left: 245px;
  background: #FFF;
  padding: 20px 40px;
  position: relative;
  min-height: 500px;
}

#content {
  clear: both;
  padding-top: 20px;
}
